* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #393e46;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.home-container .welcome-sec .buttons .btn {
  display: inline-block;
  padding: 0.5rem 2.25rem;
  font-size: 1.1rem;
  border-radius: 20px;
  text-align: center;
}

form .submit-btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #00adb5;
  border: 1px solid #00adb5;
  border-radius: 2px;
  font-size: 1.1rem;
}

form .submit-btn:hover {
  cursor: pointer;
  background: #393e46;
  color: #00adb5;
  border-color: #393e46;
}

.nav-bar {
  background: #00adb5;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.nav-bar .header {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-bar .header img {
  width: 40px;
  border-radius: 50%;
}

.nav-bar .header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  padding-left: 0.25rem;
}

.nav-bar .sidemenu {
  display: none;
}

.nav-bar .menu-items {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .menu-items li {
  padding-left: 1.5rem;
}

.nav-bar .menu-items li a {
  font-size: 1.1rem;
}

.nav-bar .menu-items li a i {
  padding-right: 0.5rem;
  align-self: center;
}

.nav-bar .menu-items li a:hover {
  color: #393e46;
}

.nav-bar .menu-items .current {
  color: #393e46;
  text-decoration: underline;
}

.home-container {
  max-width: 1500px;
  height: 90.5vh;
  overflow: hidden;
  display: flex;
  background: rgba(170, 216, 211, 0.5);
  justify-content: center;
}

.home-container::before {
  content: '';
  position: absolute;
  background: url("/images/main-bg.jpg") no-repeat center center/cover;
  left: 0;
  height: 90.5vh;
  width: 100%;
  opacity: 0.25;
}

.home-container .welcome-sec {
  transform: translate(0%, 0%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container .welcome-sec h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

.home-container .welcome-sec p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home-container .welcome-sec .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;
}

.home-container .welcome-sec .buttons .start-btn {
  color: #eeeeee;
  background: #00adb5;
  border: 1px solid #00adb5;
}

.home-container .welcome-sec .buttons .start-btn:hover {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #00adb5;
}

.home-container .welcome-sec .buttons .signin-btn {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #00adb5;
}

.home-container .welcome-sec .buttons .signin-btn:hover {
  color: #eeeeee;
  background: #00adb5;
  border: 1px solid #00adb5;
}

.container {
  max-width: 1500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: rgba(170, 216, 211, 0.75);
}

.container h1 {
  font-family: "Dancing Script", cursive;
  margin: 0.65rem 0 0.2rem 0;
}

.container p {
  font-size: 1rem;
}

.container p a {
  color: #00adb5;
}

.container p a:hover {
  color: #eeeeee;
  text-decoration: underline;
}

.container .form-box {
  width: 30%;
  margin: 0.75rem auto;
  padding: 1rem 2.5rem;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.container .form-box form {
  display: flex;
  flex-direction: column;
}

.container .form-box form label {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.container .form-box form input:not(.submit-btn) {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

.container .form-box form input:not(.submit-btn):focus:not(.submit-btn) {
  border: 1px solid #00adb5;
}

.container .form-box form p {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.container {
  height: 90.5vh;
}

@media (max-width: 800px) {
  .nav-bar .sidemenu {
    display: inline-block;
    z-index: 20;
  }
  .nav-bar .sidemenu:hover {
    cursor: pointer;
  }
  .nav-bar .sidemenu .line {
    display: inline-block;
    font-size: 1.45rem;
  }
  .nav-bar .sidemenu .line.remove-line {
    display: none;
  }
  .nav-bar .sidemenu .cross {
    display: none;
    font-size: 1.45rem;
  }
  .nav-bar .sidemenu .cross.show-cross {
    display: inline-block;
  }
  .nav-bar .menu-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    padding: 0rem;
    background: #00adb5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
  }
  .nav-bar .menu-items.show-menu {
    transform: translateX(0);
  }
  .nav-bar .menu-items li {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #393e46;
  }
}

@media (max-width: 650px) {
  .nav-bar .menu-items {
    width: 40vw;
  }
  .nav-bar .menu-items li {
    padding: 0.75rem;
  }
}

@media (max-width: 550px) {
  .nav-bar .menu-items {
    width: 45vw;
  }
  .nav-bar .menu-items li {
    padding: 0.5rem;
  }
}

@media (max-width: 475px) {
  .nav-bar .menu-items {
    width: 50vw;
  }
}

@media (max-width: 375px) {
  .nav-bar .menu-items {
    width: 55vw;
  }
}

@media (max-width: 900px) {
  .nav-bar {
    padding: 0rem 2.5rem;
  }
  .nav-bar .header img {
    width: 35px;
  }
  .nav-bar .header h1 {
    font-size: 1.8rem;
  }
  .nav-bar .menu-items li {
    padding-left: 1.5rem;
  }
  .nav-bar .menu-items li a {
    font-size: 1.05rem;
  }
}

@media (max-width: 800px) {
  .nav-bar {
    z-index: 10;
  }
  .nav-bar .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
}
