* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: #393e46;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.home-container .welcome-sec .buttons .btn {
  display: inline-block;
  padding: 0.5rem 2.25rem;
  font-size: 1.1rem;
  border-radius: 20px;
  text-align: center;
}

form .submit-btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #00adb5;
  border: 1px solid #00adb5;
  border-radius: 2px;
  font-size: 1.1rem;
}

form .submit-btn:hover {
  cursor: pointer;
  background: #393e46;
  color: #00adb5;
  border-color: #393e46;
}

.nav-bar {
  background: #00adb5;
  color: #eeeeee;
  height: 8.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.nav-bar .header {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-bar .header img {
  width: 40px;
  border-radius: 50%;
}

.nav-bar .header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  padding-left: 0.25rem;
}

.nav-bar .sidemenu {
  display: none;
}

.nav-bar .menu-items {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .menu-items li {
  padding-left: 1.5rem;
}

.nav-bar .menu-items li a {
  font-size: 1.1rem;
}

.nav-bar .menu-items li a i {
  padding-right: 0.5rem;
  align-self: center;
}

.nav-bar .menu-items li a:hover {
  color: #393e46;
}

.nav-bar .menu-items .current {
  color: #393e46;
  text-decoration: underline;
}

.home-container {
  max-width: 1500px;
  height: 91.5vh;
  overflow: hidden;
  display: flex;
  background: rgba(170, 216, 211, 0.5);
  justify-content: center;
  align-items: center;
}

.home-container::before {
  content: '';
  position: absolute;
  background: url("/images/main-bg.jpg") no-repeat center center/cover;
  left: 0;
  height: 91.5vh;
  width: 100%;
  opacity: 0.25;
}

.home-container .welcome-sec {
  position: fixed;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container .welcome-sec h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

.home-container .welcome-sec p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home-container .welcome-sec .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;
}

.home-container .welcome-sec .buttons .start-btn {
  color: #eeeeee;
  background: #00adb5;
  border: 1px solid #00adb5;
}

.home-container .welcome-sec .buttons .start-btn:hover {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #00adb5;
}

.home-container .welcome-sec .buttons .signin-btn {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #00adb5;
}

.home-container .welcome-sec .buttons .signin-btn:hover {
  color: #eeeeee;
  background: #00adb5;
  border: 1px solid #00adb5;
}

section .form-container {
  max-width: 1500px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(170, 216, 211, 0.75);
}

section .form-container h1 {
  font-family: "Dancing Script", cursive;
  margin: 1rem 0 0.2rem 0;
}

section .form-container p {
  font-size: 1rem;
}

section .form-container p a {
  color: #00adb5;
}

section .form-container p a:hover {
  color: #eeeeee;
  text-decoration: underline;
}

section .form-container .form-box {
  width: 30%;
  margin: 0.85rem auto;
  padding: 1rem 2.5rem;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

section .form-container .form-box form {
  display: flex;
  flex-direction: column;
}

section .form-container .form-box form label {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

section .form-container .form-box form input:not(.submit-btn) {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

section .form-container .form-box form input:not(.submit-btn):focus:not(.submit-btn) {
  border: 1px solid #00adb5;
}

section .form-container .form-box form p {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.form-container {
  height: 91.5vh;
}

@media (max-width: 800px) {
  .nav-bar .sidemenu {
    display: inline-block;
    z-index: 20;
  }
  .nav-bar .sidemenu:hover {
    cursor: pointer;
  }
  .nav-bar .sidemenu .line {
    display: inline-block;
    font-size: 1.45rem;
  }
  .nav-bar .sidemenu .line.remove-line {
    display: none;
  }
  .nav-bar .sidemenu .cross {
    display: none;
    font-size: 1.45rem;
  }
  .nav-bar .sidemenu .cross.show-cross {
    display: inline-block;
  }
  .nav-bar .menu-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    padding: 0rem;
    background: #00adb5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
    transform: translateX(200%);
    transition: transform 0.25s ease-in-out;
  }
  .nav-bar .menu-items.show-menu {
    transform: translateX(0);
  }
  .nav-bar .menu-items li {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #aad8d3;
  }
}

@media (max-width: 650px) {
  .nav-bar .menu-items {
    width: 40vw;
  }
  .nav-bar .menu-items li {
    padding: 0.75rem;
  }
}

@media (max-width: 550px) {
  .nav-bar .menu-items {
    width: 45vw;
  }
  .nav-bar .menu-items li {
    padding: 0.5rem;
  }
}

@media (max-width: 475px) {
  .nav-bar .menu-items {
    width: 50vw;
  }
}

@media (max-width: 375px) {
  .nav-bar .menu-items {
    width: 55vw;
  }
}

@media (max-width: 900px) {
  .nav-bar {
    padding: 0rem 1.75rem;
  }
  .nav-bar .header img {
    width: 35px;
  }
  .nav-bar .header h1 {
    font-size: 1.8rem;
  }
  .nav-bar .menu-items li {
    padding-left: 1.5rem;
  }
  .nav-bar .menu-items li a {
    font-size: 1.05rem;
  }
}

@media (max-width: 800px) {
  .nav-bar {
    z-index: 10;
  }
  .nav-bar .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
}

@media (max-width: 425px) {
  .nav-bar {
    height: 7.5vh;
  }
}

@media (max-width: 400px) {
  .nav-bar {
    padding: 0rem 1.25rem;
  }
}

@media (max-width: 950px) {
  .home-container .welcome-sec h1 {
    font-size: 4rem;
    margin-bottom: 0.25rem;
  }
  .home-container .welcome-sec p {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  .home-container .welcome-sec .buttons .btn {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .home-container .welcome-sec h1 {
    font-size: 3.5rem;
  }
  .home-container .welcome-sec p {
    font-size: 1.1rem;
  }
}

@media (max-width: 625px) {
  .home-container .welcome-sec h1 {
    font-size: 3rem;
  }
  .home-container .welcome-sec p {
    font-size: 1.05rem;
  }
  .home-container .welcome-sec .buttons {
    grid-gap: 0.5rem;
  }
  .home-container .welcome-sec .buttons .btn {
    padding: 0.5rem 1.75rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 525px) {
  .home-container .welcome-sec h1 {
    font-size: 2.75rem;
  }
  .home-container .welcome-sec .buttons .btn {
    padding: 0.35rem 1.5rem;
  }
}

@media (max-width: 425px) {
  .home-container {
    height: 92.5vh;
  }
  .home-container::before {
    height: 92.5vh;
  }
  .home-container .welcome-sec {
    padding: 1.85rem;
  }
  .home-container .welcome-sec h1 {
    font-size: 2.35rem;
    margin-bottom: 0.15rem;
  }
  .home-container .welcome-sec p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .home-container .welcome-sec .buttons .btn {
    padding: 0.35rem 1.2rem;
  }
}

@media (max-width: 385px) {
  .home-container .welcome-sec {
    padding: 2rem;
  }
  .home-container .welcome-sec h1 {
    font-size: 2rem;
  }
  .home-container .welcome-sec p {
    font-size: 0.95rem;
  }
  .home-container .welcome-sec .buttons {
    grid-gap: 0.35rem;
  }
  .home-container .welcome-sec .buttons .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .home-container .welcome-sec {
    padding: 1rem;
  }
  .home-container .welcome-sec h1 {
    font-size: 1.8rem;
  }
  .home-container .welcome-sec p {
    font-size: 0.85rem;
  }
  .home-container .welcome-sec .buttons {
    grid-gap: 0.25rem;
  }
}

section .search-container {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: rgba(170, 216, 211, 0.75);
}

section .search-container .input-sec {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

section .search-container .input-sec input {
  background-color: #bfe2de;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 0.15rem solid #eeeeee;
  border-radius: 0.15rem;
  margin-right: 0.5rem;
}

section .search-container .input-sec input:focus {
  border-bottom: 0.15rem solid #00adb5;
}

section .search-container .input-sec .search-btn {
  padding: 0.3rem 0.75rem;
  color: #eeeeee;
  background-color: #00adb5;
  border: 1px solid #00adb5;
  border-radius: 5rem;
}

section .search-container .input-sec .search-btn:hover {
  cursor: pointer;
  color: #393e46;
  background: #eeeeee;
  border: 1px solid #eeeeee;
}

section .search-container .heading-div {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
}

section .search-container .recipe-disp {
  padding: 1rem 2rem;
  margin: 0.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

section .search-container .recipe-disp .content .recipe-img {
  display: flex;
  justify-content: center;
}

section .search-container .recipe-disp .content .recipe-img img {
  width: 100%;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
}

section .search-container .recipe-disp .content .recipe-img img:hover {
  cursor: pointer;
}

section .search-container .recipe-disp .content .recipe-info {
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #eeeeee;
  background-color: #00adb5;
}
