@import 'variables';

.home-container{
   max-width: 1500px;
   height:91.5vh;
   overflow: hidden;
   display: flex;
   background:rgba($color:$secondary-color , $alpha:0.5);
   justify-content: center;
   align-items: center;

   &::before{
      content: '';
      position: absolute;
      background: url('/images/main-bg.jpg')no-repeat center center/cover;
      left:0;
      height:91.5vh;
      width:100%;
      opacity:0.25;
   }

   .welcome-sec{
      position: fixed;
      padding:1.5rem;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1{
         font-family: $dancing-font;
         font-size:4.5rem;
         margin-bottom:0.5rem;
      }

      p{
         font-size: 1.5rem;
         margin-bottom:1rem;
      }

      .home-signin-button{
         display: none;

         .btn{
            @extend %btn-style;
         }

         .signin-btn{
            background:$light-color;
            border:1px solid $light-color;
            color:$primary-color;

            &:hover{
               color:$light-color;
               background: $primary-color;
               border:1px solid $primary-color;
            }

         }
      }
   }
}