@import 'variables';

@media(max-width:900px){

   .nav-bar{
      padding:0rem 2.5rem;

      .header{
   
         img{
            width:35px;
         }
   
          h1{
            font-size: 1.8rem;
         }
      }
   
      .menu-items{
   
         li{
            padding-left:1.5rem;
   
            a{
               font-size: 1.05rem;
            }
         }
      }
    }
}

@media(max-width:800px){
   .nav-bar{
      z-index: 10;
   
      .header{
         display: flex;
         align-items:center;
         justify-content: center;
         padding:0.5rem 0;
      }
   }
}

@media(max-width:400px){

   .nav-bar{
      padding:0rem 1.5rem;
   }
}
