@import 'variables';

section{

   .search-container{
      max-width: 1500px;
      min-height: 91.5vh;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding:2rem;
      background:rgba(170,216,211,0.75);

      .input-sec{
         width:40%;
         display: flex;
         justify-content: center;
         margin-top: 0.75rem;

         input{
            background-color: #bfe2de;
            font-size: 1rem;
            width: 60%;
            border: none;
            outline: none;
            border-bottom: 0.15rem solid $light-color;
            border-radius: 0.15rem;
            margin-right: 0.5rem;

            &:focus{
               border-bottom: 0.15rem solid $primary-color;
            }
         }
      }

      .heading-div{
         margin-top: 1.5rem;
         font-size: 0.8rem;

         h1{
            text-align: left;
         }
      }

      .recipe-disp{
         padding: 1rem 2rem;
         margin: 0.5rem 2.5rem;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 2.5rem;

         .content{

            .recipe-img{
               // height: 75%;
               display: flex;
               justify-content: center;
               overflow: hidden;
               margin-bottom: 0.75rem;

               img{
                  width: 100%;
                  border-radius: 0.25rem;

                  &:hover{
                     cursor: pointer;
                     transform: scale(1.5);
                     transition: transform 0.4s ease-in-out;
                  }
               }
            }

            .recipe-info{
               text-align: center;
               border-radius: 0.25rem;
               padding: 0.5rem;
               color: $light-color;
               background-color: $primary-color;

               p:not(:last-child){
                  margin-bottom: 0.25rem;
               }
            }
         }
      }

      .load-btn{

         .loadBtn{
            display: none;
         }
      }
   }
}