@import 'variables';

//Responsive for search section
@media(max-width: 950px){

   section{
      
      .search-container,
      .favorites-container{
         .input-sec{
            margin-top: 1.75rem;
            width: 55%;
            form{
   
               input{
                  width: 55%;
               }
            }
         }

         .loader{
            height: 3.25rem;
            width: 3.25rem;
         }

         .heading-div{
            margin-top: 1.25rem;
         }

         .load-btn{

            .loadBtn{
               margin-bottom: 1rem;
            }
         }

      }

   }

}

@media(max-width: 850px){
   section{
      .search-container,
      .favorites-container{

         .heading-div{
            font-size: 1.01rem;
         }
      }
   }
}

@media(max-width: 775px){
   section{
      .search-container,
      .favorites-container{
         .input-sec{
            width: 100%;
         }
      }
   }
}

@media(max-width: 550px){
   section{
   
      .search-container,
      .favorites-container{
         .input-sec{
            margin-top: 1rem;
         }
   
         .heading-div{
            margin-top: 1.5rem;
            font-size: 0.95rem;
         }
   
         .load-btn{
   
            .loadBtn{
               margin-bottom: 0.5rem;
            }
         }
   
      }
   }
}

@media(max-width: 475px){
   section{
      .favorites-container,
      .search-container{

         .heading-div{
            font-size: 0.85rem;
         }
      }
   }
}

//Responsive for inner details

@media(max-width: 1175px){
   section{

      .details-container{

         .details{
            padding: 0.75rem 1.5rem; 
         
            .heading{ 
               padding: 0rem 6.5rem;
         
               .info-head{
                  font-size: 1.65rem;
               }
            } 
            
            .recipe-ingredients{

               .image-sec{
   
                  .details-img{
                     width: 75%;
                  }
      
                 .buttons{
   
                  .favorites{
                     width: 75%;
                  }
                 }
               }
            }
         }     
               
      }
   } 
}

@media(max-width: 1075px){
   section{
      .details-container{
         padding: 1rem 2rem;
         
         .details{
            padding: 0.75rem 1rem; 
   
            .heading{ 
               padding: 0rem 2rem;
      
               .info-head{
                  font-size: 1.55rem;
               }
            }  
            
            .recipe-ingredients{
               grid-template-columns: 2fr 3fr;
               grid-gap: 2rem;
      
               .image-sec{

                  .details-img{
                     width: 100%;
                  }
      
                 .buttons{
                    .favorites{
                       width: 100%;
                       font-size: 1rem;
                    }
                 }
               }
   
               .ingredients-sec{
                  padding: 1.5rem;
               }
      
            }

            .add-info{
               padding: 1.5rem;
            }
           
         }
      }
   }
}

@media(max-width: 875px){
   section{
      .details-container{
         
         .details{   
            padding: 0.75rem 2rem; 
            
            .heading{ 
               padding: 0rem 0.5rem;
      
               .info-head{
                  font-size: 1.55rem;
               }
            } 

            .inner-heading{
               font-size: 1.25rem;
            }
            
            .recipe-ingredients{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding: 0rem;

               .image-sec{
                  width:100%;
   
                  .details-img{
                     display: flex;
                     align-self: center;
                     width: 50%;
                  }
      
                  .buttons{
                     display: flex;
                     justify-content: center;

                     .favorites{
                        width: 50%;
                     }
                  }
               }
   
               .ingredients-sec{
                  width: 100%;
      
                  .ingredients{
                     display: flex;
                     flex-wrap: wrap;
                     
                     li{

                        &.ingredients-tag{
                           margin: 0.25rem;
                           font-size: 1.05rem;
                        }
                     }
                  }
   
               }
      
            }

            .add-info{

               .infos{
   
                  li{
                     margin: 0.25rem;
   
                     &.tags{
                        margin: 0.25rem;
                        font-size: 1.05rem;
                     }
                  }
               }
            }
           
         }
      }
   }
}

@media(max-width: 775px){
   section{
      .details-container{
         padding: 0.75rem 2rem 1rem 2rem;


         .details{
            padding: 0.5rem 1.75rem 0.75rem 1.75rem;   
            
            .heading{

               .info-head{
                  font-size: 1.35rem;
               }
            }

            .recipe-ingredients{
               .image-sec{
   
                  .details-img{
                     width: 60%;
                  }
      
                  .buttons{

                     .favorites{
                        width: 60%;
                     }
                  }
               }
   
               .ingredients-sec{
      
                  .ingredients{
                     
                     li{

                        &.ingredients-tag{
                           font-size: 1rem;
                        }
                     }
                  }
   
               }
            }

            .add-info{

               .infos{
   
                  li{

                     &.tags{
                        font-size: 1rem;
                     }
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 675px){
   section{
      .details-container{   
         .details{

            .inner-heading{
               font-size: 1.2rem;
            }
            
            .recipe-ingredients{

               .image-sec{
   
                  .details-img{
                     width: 65%;
                  }
      
                  .buttons{

                     .favorites{
                        width: 65%;
                     }
                  }
               }
      
               .ingredients-sec{
   
                  .ingredients{
      
                     li{

                        &.ingredients-tag{
                           font-size: 0.95rem;
                        }
                     }
                  }

                  .full-recipe{

                     .link-guide{
                        font-size: 1rem;
                     }
                     
                     .recipe-link{
                        font-size: 0.95rem;
                        padding: 0.5rem 0.75rem;
                     }
                  }
               }
            }

            .add-info{
   
               .infos{
   
                  li{
   
                     &.tags{
                        font-size: 0.95rem;
                     }
                  }
               }
   
               .view-more{
                  padding: 0.5rem 0.75rem;
                  font-size: 0.95rem;
               }
            }
         }
      }
   }
}

@media(max-width: 575px){
   section{
      .details-container{ 
         padding: 1rem 1.5rem;  

         .details{
            padding: 0.75rem 1.5rem;

            .heading{ 

               a{
                  font-size: 1.35rem;
               }
      
               .info-head{
                  font-size: 1.35rem;
                  margin-left: 1rem;
               }
            }

            .recipe-ingredients{
               .image-sec{
   
                  .details-img{
                     width: 70%;
                  }
      
                  .buttons{

                     .favorites{
                        width: 70%;
                        font-size: 0.95rem;
                     }
                  }
               }
               .ingredients-sec{

                  .ingredients{
      
                     li{

                        &.ingredients-tag{
                           font-size: 0.9rem;
                           padding: 0.45rem 1rem;
                        }
                     }
                  }

                  .full-recipe{

                     .link-guide{
                        font-size: 0.9rem;
                     }
                     
                     .recipe-link{
                        font-size: 0.9rem;
                        padding: 0.35rem 0.55rem;
                     }
                  }
               }
            }

            .add-info{
   
               .infos{
   
                  li{
                     font-size: 0.95rem;
                     margin: 0.15rem;

                     &.tags{
                        font-size: 0.9rem;
                        margin: 0.15rem;
                     }
                  }
               }
   
               .view-more{
                  padding: 0.35rem 0.55rem;
                  font-size: 0.9rem;
               }
            }
         }
      }
   }
}

@media(max-width: 475px){
   section{
      .details-container{ 
         padding: 1rem 1rem;  
   
         .details{  
            padding: 0.75rem 1rem;

            .recipe-ingredients{
               .image-sec{
   
                  .details-img{
                     width: 90%;
                  }
      
                  .buttons{

                     .favorites{
                        width: 90%;
                     }
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 375px){
   section{
      .details-container{
         .details{
            .heading{ 
               .info-head{
                  font-size: 1.3rem;
               }
            }
         }
      }
   }
}

