@import 'variables';

section{

   .search-container{
      max-width: 1500px;
      min-height: 91.5vh;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding:2rem;
      background:rgba(170,216,211,0.75);

      .error-msg{
         position: absolute;
         top: 4rem;
         display: none;
         font-size: 0.9rem;
         padding: 0.5rem 1rem;
         color: $light-color;
         background-color: $error-color;
         border-radius: 0.25rem;
         // border: 0.05rem solid #fe3636;
      }

      .input-sec{
         width:50%;
         display: flex;
         justify-content: center;
         margin-top: 2rem;

         form{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            input{
               background-color: #bfe2de;
               font-family: inherit;
               font-size: 1rem;
               width: 45%;
               border: none;
               outline: none;
               border-bottom: 0.15rem solid $light-color;
               border-radius: 0.15rem;
               margin-right: 0.5rem;
   
               &:focus{
                  border-bottom: 0.15rem solid $primary-color;
               }
            }
         }
      }

      .loader{
         position: absolute;
         top: 15rem;
         display: none;
         margin-top: 2.5rem;
         border: 0.2rem solid $primary-color;
         border-bottom: none;
         border-left: none;
         // border-top: none;
         height: 3.5rem;
         width: 3.5rem;
         border-radius: 50%;
         animation: loader 2s infinite ease-in-out;
      }

      @keyframes loader {

         to{
            transform: rotate(360deg);
         }
      }

      .heading-div{
         margin-top: 1.5rem;
         font-size: 0.8rem;

         h1{
            text-align: left;
         }
      }

      .recipe-disp{
         // border:1px solid red;
         padding: 1rem 2rem;
         margin: 0.5rem 2.5rem;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 2.5rem;

         .content{

            .recipe-img{
               // height: 75%;
               display: flex;
               justify-content: center;
               overflow: hidden;
               margin-bottom: 0.75rem;

               img{
                  width: 100%;
                  border-radius: 0.25rem;

                  &:hover{
                     cursor: pointer;
                     transform: scale(1.2);
                     transition: transform 0.7s ease-in-out;
                  }
               }
            }

            .recipe-info{
               text-align: center;
               border-radius: 0.25rem;
               padding: 0.5rem;
               color: $light-color;
               background-color: $primary-color;

               p:not(:last-child){
                  margin-bottom: 0.25rem;
               }

               &:hover{
                  cursor: pointer;
               }
            }
         }
      }

      .load-btn{

         .loadBtn{
            display: none;
         }
      }
   }
}