@import 'variables';

@media(max-width:800px){
   .nav-bar{

      .sidemenu{
         display: inline-block;
         z-index:20;

         &:hover{
            cursor: pointer;
         }

         .line{
           display: inline-block;
           font-size: 1.45rem;

           &.remove-line{
              display: none;
           }
         }

         .cross{
            display: none;
            font-size: 1.45rem;

            &.show-cross{
               display: inline-block;
            }
         }
      }
   
      .menu-items{
         position: fixed;
         top: 0;
         right: 0;
         height:100vh;
         width:35vw;
         padding:0rem;
         background:$primary-color;
         flex-direction: column;
         justify-content:center;
         align-items:flex-start ;
         z-index:5;
         transform: translateX(200%);
         transition: transform 0.25s ease-in-out;

         &.show-menu{
            transform: translateX(0);
         }  
   
         li{
            width:100%;
            padding:1rem;
            margin-bottom:0.5rem;
            border-bottom:1px solid $secondary-color;
         }
      }
    }
}

@media(max-width:650px){
   .nav-bar{

      .menu-items{
         width:40vw;

         li{
            padding:0.75rem;
         }
      }
   }
}

@media(max-width:550px){
   .nav-bar{

      .menu-items{
         width:45vw;

         li{
            padding:0.5rem;   
         }
      }
   }
}

@media(max-width:475px){
   .nav-bar{

      .menu-items{
         width:50vw;
      }
   }
}

@media(max-width:375px){
   .nav-bar{

      .menu-items{
         width:55vw;
      }
   }
}