@import 'variables';

*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
 
body{
   font-family: 'Roboto', sans-serif;
   height:100%;
   color:$dark-color;
}
 
a{
   color:$light-color;
   text-decoration: none;
}
 
ul{
   li{
      list-style: none;
   }
}

//BUTTONS
%btn-style{
   display: inline-block;
   padding:0.5rem 2.25rem;
   font-size:1.1rem;
   border-radius:20px;
   text-align: center;
}

// form{

  
// }

.submit-btn{
   font-family: 'Roboto', sans-serif;
   margin-top: 0.45rem;
   padding: 0.25rem;
   background: $primary-color;
   border:1px solid $primary-color;
   border-radius:2px;
   font-size: 1.1rem;
   text-align: center;

   &:hover{
      cursor: pointer;
      background:$dark-color;
      color:$primary-color;
      border-color: $dark-color;
   }
}

.form-sec, .load-btn{

   .button{
      text-align: center;
      font-family: inherit;
      font-size: 1rem;
      padding:0.4rem 1rem;
      color: $light-color;
      outline: none;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 5rem;
   
      &:hover{
         cursor: pointer;
      }
   
      &:active{
         color: $dark-color;
         background: $light-color;
         border: 1px solid $light-color;
      }
   }
}
