@import 'variables';

*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
 
body{
   // max-width: 2500px;
   font-family: 'Roboto', sans-serif;
   height:100%;
   color:$dark-color;
   display: flex;
   flex-direction: column;
}
 
a{
   color:$light-color;
   text-decoration: none;
}
 
ul{
   li{
      list-style: none;
   }
}

//BUTTONS
%btn-style{
   display: inline-block;
   padding:0.5rem 2.25rem;
   font-size:1.1rem;
   border-radius:20px;
   text-align: center;
}

//submitButton
.submit-btn{
   font-family: 'Roboto', sans-serif;
   margin-top: 0.45rem;
   padding: 0.25rem;
   background: $primary-color;
   border:1px solid $primary-color;
   border-radius:2px;
   font-size: 1.1rem;
   text-align: center;

   &:hover{
      cursor: pointer;
      background:$dark-color;
      color:$primary-color;
      border-color: $dark-color;
   }
}

//formButton
.form-sec, .load-btn{

   .button{
      text-align: center;
      font-family: inherit;
      font-size: 1rem;
      padding:0.4rem 1rem;
      color: $light-color;
      outline: none;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 5rem;
   
      &:hover{
         cursor: pointer;
      }
   
      &:active{
         color: $dark-color;
         background: $light-color;
         border: 1px solid $light-color;
      }
   }
}

@media(max-width: 650px){
   .form-sec{

      .button{
         font-size: 0.85rem;
         padding:0.4rem 0.85rem;
      }
   }

   .load-btn{

      .button{
         font-size: 0.85rem;
      }
   }
}

@media(max-width: 475px){
   .form-sec{

      .button{
         font-size: 0.75rem;
         padding:0.45rem 0.65rem;
      }
   }
}

//displaySec(search&favorites)
.search-container,
.favorites-container{
   max-width: 2500px;
   min-height: 91.5vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:1.5rem 0 1rem 0;
   background:rgba(170,216,211,0.75);

   .recipe-disp,
   .favorites{
      width: 75%;
      padding: 1rem 2rem;
      margin: 0.5rem 2.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5rem;
      justify-content: center;
      align-items: center;
   }
}

@media(max-width: 1020px){
   .search-container,
   .favorites-container{

      .recipe-disp,
      .favorites{ 
         width: 90%;
      }
   }
}

@media(max-width: 950px){
   .search-container,
   .favorites-container{
      padding:1.25rem 0 0.75rem 0;
   }
}

@media(max-width: 750px){
   .search-container,
   .favorites-container{

      .recipe-disp,
      .favorites{ 
         grid-template-columns: repeat(2, 1fr);
         margin-bottom: 1rem;
         width: 75%;
      }
   }
}

@media(max-width: 550px){
   .search-container,
   .favorites-container{

      .recipe-disp,
      .favorites{ 
         padding: 0.5rem 4rem;
         grid-template-columns: repeat(1, 1fr);
         width: 90%;
      }
   }
}


@media(max-width: 450px){
   .search-container,
   .favorites-container{

      .recipe-disp,
      .favorites{ 
         padding: 0.5rem 3rem;
      }
   }
}

@media(max-width: 375px){
   .search-container,
   .favorites-container{

      .recipe-disp,
      .favorites{ 
         padding: 0.5rem 2rem;
      }
   }
}

.alert-msg{
   position: fixed;
   top: 1rem;
   left: 50%;
   transform: translateX(-50%);
   display: none;
   // align-self: center;
   text-align: center;
   font-size: 0.9rem;
   padding: 0.5rem 1rem;
   color: $light-color;
   background-color: $dark-color;
   border-radius: 0.25rem;

   &.hide-alert{
      display: none;
   }

   &.show-alert{
      display: inline-block;
   }
}

@media(max-width: 750px){
   .alert-msg{
      font-size: 0.8rem;
      padding: 0.45rem 0.9rem;
   }
}


