*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color:#123C69;
}

a{
  color:#EDC7B7;
  text-decoration: none;
}

ul li{
  list-style: none;
}

.nav-bar{
  background:#AC3B61;
  color:#EDC7B7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 3rem;
}

.nav-bar h1{
  font-family: 'Dancing Script', cursive;
  font-size: 2.25rem;
}

.nav-bar ul{
  padding:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li{
  padding-left:1.75rem;
}

.nav-bar ul a{
  font-size: 1.2rem;
}

.nav-bar ul a:hover{
  color:#123C69;
  text-decoration: underline;
}

.container{
  max-width: 1500px;
  height:100vh;
  overflow: hidden;
  display: flex;
  background: #EDC7B7;
  justify-content: center;
}

.container::before{
  content: '';
  position: absolute;
  background: url('./images/main-bg1.jpg')no-repeat center center/cover;
  background-color: #EDC7B7;
  left:0;
  height:100%;
  width:100%;
  opacity:0.4;
}

.container .welcome-sec{
  transform: translate(0% , 0%); 
  padding:1.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-sec h1{
  font-size:3.5rem;
  margin-bottom:0.5rem;
}

.welcome-sec p{
  font-size: 1.5rem;
  margin-bottom:1rem;
}

.welcome-sec .start-btn{
  padding:0.5rem 1.5rem;
  border:1px solid #AC3B61;
  background:#AC3B61;
  color:#EDC7B7;
  font-size: 1.2rem;
  border-radius:1.5rem;
}

.welcome-sec .start-btn:hover{
  cursor: pointer;
  background:#123C69;
  border:1px solid #123C69;
}

/* .container .about-sec{
  margin-top:1.25rem; 
}

.about-sec .about-div{
  margin-bottom:1rem;
}

.about-sec .about-div,
.about-sec .benefits-div{
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
}

.about-div h2,
.benefits-div h2{
  margin-bottom:0.25rem;
}

.benefits-div ul{
  padding-left:2rem;
}

.benefits-div ul li{
  list-style: disc;
}

.benefits-div p{
  margin-top: 0.5rem;
} */
